<%- include('../partials/header') %>

    <h1>Account Management</h1>

    <p>Use the links below to manage your account.</p>

    <ul>
        <li><a href="/account/update">Update Account Information</a></li>
        <li><a href="/account/logout">Logout</a></li>
    </ul>
