<h1>Welcome to CSE Motors!</h1>

<div class="hero">
    <div class="hero-image">
        <img src="/images/vehicles/delorean.jpg" alt="CSE Motors Hero Image" />
    </div>
    <div class="hero-text">
        <h2>DMC Delorean</h2>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <button>Own Today</button>
    </div>
</div>

<div class="upgrades-reviews">
    <div class="upgrades">
        <h2>Delorean Upgrades</h2>
        <div class="upgrades-grid">
            <div class="upgrade-card">
                <div class="upgrade">
                    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor" />
                </div>
                <h3>Flux Capacitor</h3>
            </div>
            <div class="upgrade-card">
                <div class="upgrade">
                    <img src="/images/upgrades/flame.jpg" alt="Flame Decals" /> 
                </div>
                <h3>Flame Decals</h3>
            </div>
            <div class="upgrade-card">
                <div class="upgrade">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker" />  
                </div>
                <h3>Bumper Sticker</h3>
            </div>
            <div class="upgrade-card">
                <div class="upgrade">
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps" />
                </div>    
                <h3>Hub Caps</h3>
            </div>
        </div>
    </div>

    <div class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <div class="review">
            <h3>"So fast it's like traveling in time." (4/5)</h3>
        </div>
        <div class="review">
            <h3>"Coolest ride on the road." (4/5)</h3>
        </div>
        <div class="review">
            <h3>"I'm feeling McFly!" (5/5)</h3>
        </div>
        <div class="review">
            <h3>"The most futuristic ride of our day." (4.5/5)</h3>
        </div>
        <div class="review">
            <h3>"80's livin and I love it!" (5/5)</h3>
        </div>
    </div>
</div>